* {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.2;
}
p {
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
}
.title {
  margin-bottom: 50px;
  padding-bottom: 20px;
  text-align: center;
  h1 {
    display: inline-block;
    font-size: 32px;
    text-transform: capitalize;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 250px;
      height: 30px;
      background: url(../images/title-shape.png) no-repeat center;
      background-size: contain;
    }
  }
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background: #111111;
  line-height: 24px;
}
/* dark version(1.00) css start*/
/*switcher css start*/
.switcher {
  bottom: initial;
  top: 150px;
  z-index: 99999;
  .switcher_icon {
    bottom: initial;
    top: 0;
    color: #ffffff;
    background: #232323 !important;
    border: 0 !important;
    i {
      font-size: 25px !important;
      animation: switcher_icon 3s infinite linear;
      @keyframes switcher_icon {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
  .blast-frame {
    height: auto;
    background: #999999 !important;
    p {
      letter-spacing: 5px;
      text-transform: capitalize;
    }
    .blast-colors {
      width: 160px;
      height: auto;
      margin: 0 auto;
      padding: 15px 0;
      .blast-color {
        max-width: 30px;
        max-height: 30px;
        width: 30px;
        height: 30px;
        font-size: 25px;
        background: none;
        color: inherit;
        margin: 5px !important;
      }
    }
    .blast-custom-colors {
      padding-top: 15px !important;
    }
    input[type="color"] {
      margin-top: 15px !important;
    }
  }
}
/*switcher css end*/
/* navbar part start */
#navbar {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  transition: ease-out 1s;
  .navbar-brand {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    padding: 0 !important;
  }
  button {
    &:focus {
      outline: 0;
    }
    span {
      height: auto;
      i {
        font-size: 25px;
        color: #ffffff;
      }
    }
  }
  ul {
    li {
      margin-left: 25px;
      a {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #ffffff;
        padding: 8px 0;
        text-transform: uppercase;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 80%;
          left: 10%;
          transform: translateX(-50%);
          width: 12px;
          height: 12px;
          background: #ffffff;
          border-radius: 50%;
          opacity: 0;
          transition: ease-in-out 0.4s;
        }
        &:hover::after {
          left: 50%;
          opacity: 1;
        }
      }
      .active::after {
        left: 50%;
        opacity: 1;
      }
    }
  }
}
.nav_fixed {
  position: fixed !important;
  background: #1a1a1a;
  padding: 10px 0 !important;
  border-bottom: 1px solid #008040 !important;
  transition: none !important;
  animation: my_ani 1s linear;
  @keyframes my_ani {
    from {
      top: -50px;
    }
    to {
      top: 0px;
    }
  }
  ul {
    li {
      .active::after {
        background: #008040 !important;
      }
    }
  }
}
/* navbar part end */

/* banner part start */
#banner_part {
  background: url(../images/banner_bg_img.jpg) no-repeat right;
  background-size: cover;
  padding: 120px 0;
  margin-top: 96px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  .overlay {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .banner_text {
      text-align: center;
      h2 {
        font-size: 32px;
        color: #008040;
      }
      h5 {
        a {
          color: #ffffff;
          transition: linear 0.4s;
          &:hover {
            color: #008040;
          }
        }
        span {
          i {
            font-size: 16px;
          }
        }
        font-size: 20px;
        color: #ffffff;
      }
    }
  }
}
/* banner part end */

/* blog part start */
#blog_part {
  .row {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .blog_items {
    padding: 30px 15px;
    background: rgba(34, 34, 34, 0.7);
    border-radius: 3px;
    .blog_img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
      img {
        width: 100%;
      }
    }
    .blog_details {
      .date_t {
        display: flex;
        justify-content: space-between;
        p {
          color: #999999;
        }
      }
      .blog_text {
        h3 {
          font-size: 24px;
          margin: 20px 0 8px 0;
          a {
            color: #ffffff;
            transition: linear 0.4s;
          }
        }
        .blog_btn {
          margin-top: 10px;
          a {
            font-family: "Teko", sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #ffffff;
            transition: linear 0.4s;
            i {
              font-size: 16px;
            }
          }
        }
      }
    }
    &:hover {
      .blog_details {
        .blog_text {
          h3 {
            a {
              color: #008040;
            }
          }
        }
        .blog_btn {
          a {
            color: #008040;
          }
        }
      }
    }
  }
}
/* blog part end */

/* footer part start */
#footer_part {
  padding: 70px 0;
  padding-bottom: 80px;
  background: rgba(0, 0, 0, 0.95);
  text-align: center;
  .footer_logo {
    a {
      font-size: 22px;
      font-weight: 700;
      color: #ffffff;
      text-transform: capitalize;
    }
  }
  .footer_icons {
    padding: 30px 0;
    i {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 18px;
      color: #ffffff;
      background: linear-gradient(
        to bottom right,
        #008040 -5%,
        rgb(38, 38, 38) 100%
      );
      text-align: center;
      line-height: 40px;
      margin-right: 10px;
      &:hover {
        background: linear-gradient(
          to bottom right,
          #008040 100%,
          rgb(38, 38, 38) 0%
        );
      }
    }
  }
  .copy_right {
    p {
      text-transform: capitalize;
      span {
        display: block;
        span {
          display: inline-block;
          font-weight: 700;
          color: #008040;
        }
      }
    }
  }
}
/* footer part end */

/* scroll to top button */
#to_top {
  display: none;
  a {
    i {
      width: 35px;
      height: 55px;
      font-size: 20px;
      color: #ffffff;
      background: linear-gradient(
        to bottom right,
        #008040 -5%,
        rgb(38, 38, 38) 100%
      );
      text-align: center;
      line-height: 55px;
      &:hover {
        background: linear-gradient(
          to bottom right,
          #008040 100%,
          rgb(38, 38, 38) 0%
        );
      }
    }
  }
}
.to_top_fixed {
  display: block !important;
  position: fixed;
  bottom: 30px;
  right: 30px;
}
/* scroll to top button */
